# NAME: Example Environment Variables
# PATH: /.env.example

# TODO: Create `.env.production` and `.env.development` from `.env.example`.
# WARN: Next.js fails `pnpm dev` without `.env.development`.

DATABASE_URL="postgresql://user:password@localhost:5432/database"
