# NAME: Example Environment Variables
# PATH: /.env.example

# TODO: Create `.env.production` and `.env.development` from `.env.example`.
# WARN: Next.js fails `pnpm dev` without `.env.development`.

# Better Auth
BETTER_AUTH_SECRET="" # TODO: Generate with `openssl rand -base64 32`.
BETTER_AUTH_URL="http://127.0.0.1:3000" # BASE_URL

# Spotify
# NOTE: Add `<BASE_URL>/api/auth/callback/spotify` as a redirect URI in the
# Spotify developer dashboard.
SPOTIFY_CLIENT_ID=""
SPOTIFY_CLIENT_SECRET=""
